/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/***** Header *****/
nav{
    display: flex;
    justify-content: space-between;
}
nav img{
    height: 19px;
    width: 61px;
    margin: 30px 0 60px 30px;
}
nav ul{
    display: flex;
    list-style: none;
    margin-top: 0px;  
}
nav li{
    margin: 16px 43px 0 26px;
}
nav ul li a{
    color: #000000;
    text-decoration: none;
}
nav ul li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 21px;
}


/***** Top with form *****/
h1{
    font-size: 22px;
    margin: 0;
}
.top{
    margin-bottom: 35px;
}
.top p{
    margin: 8px 0 35px 0;
    font-size: 16px;
}
.top form{
    display: flex;
    height: 49px;
    width: 377px;
}
.top label i{
    color: #000000;
    background-color: #F2F2F2;
}
.top label{
    background-color: #F2F2F2;
    padding: 15px 18px 16px 18px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}
.top input{
    border: none;
    border: 1px solid #F2F2F2;
    width: 195px;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    padding-left: 20px;
}
.top input::placeholder{
    color: #000000;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    border: none;
}
.submit{
    background-color: #0065FC;
    font-size: 18px;
    border: none;
    color: white;
    font-weight: bold;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    padding: 14px 16px;
}
#research-button-phone{
    display: none;
}
.filter{
    display: flex;
    align-items: center;
    margin: 35px 0;
}
.filter p{
    font-weight: 700;
    font-size: 18px;
}
.filter ul{
    display: flex;
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
}
.filter li{
    margin-right: 15px;
    color: #000000;
    font-weight: 700;
    font-size: 17px;
    padding: 15px 0px;
}
.filter a{
    margin-top: 35px;
    text-decoration: none;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    color: #000000;
    font-weight: 700;
    font-size: 17px;
    padding: 15px 19px 15px 19px;
}
.filter i{
    margin-right: 11px;
}
.filter a:hover{
    background: #DEEBFF;
}
.filter p{
    margin: 0;
}
.top span i{
    border: 1px solid #D9D9D9;
    padding: 7px 12px;
    border-radius: 25px;
    margin-right: 10px;
}
#info{
    margin: 0;
}
.fa-solid {
    color: var(--main-color);
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.cards {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img, .cards img{
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements h2{
    margin: 0;
    font-size: 22px;
}
.hebergements {
    width: 65%;
}
.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hebergements-cards .card{
    margin-top: 30px;
    cursor: pointer;
    width: 28%;
}

.hebergements-cards img{
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card-content{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 10px;
}
.hebergements-cards .card-title{
    margin: 0px
}
.hebergements-cards .card-subtitle{
    margin: 8px 0px
}
.hebergements .show-more{
    display: flex;
    text-decoration: none;
    margin-top: 30px;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
}
.hebergements a{
    text-decoration: none;
    color: #000000;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    cursor: pointer;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites h2{
    margin-top: 65px;
    margin-bottom: 30px;
}
.activites-card {
    display: flex;
    justify-content: space-between;
}
.activites-card .cards{
    margin-right: 30px;
    width: 23%;
    cursor: pointer;
}
.activites-card img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}
.activites h3{
    margin: 20px 19px;
}
.activites a{
    text-decoration: none;
    color: #000000;
}

/****** Footer ***********/
footer{
    margin-top: 65px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
}
footer h4 {
    margin-bottom: 15px;
}

footer p {
    margin: 0;
    margin-bottom: 15px;
}
footer a {
    text-decoration: none;
    color: black;
}
.footer-left, .footer-middle{
    margin-right: 250px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}